.custom-form {
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.175);
  border-radius: 8px;
}

.custom-form {
  padding: 32px;
  width: 368px;
  margin: auto;
  margin-top: 64px;
}

.position-right {
  display: flex;
  justify-content: flex-end;
}

.form-header {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
}
.article-list {
  display: flex;
  flex-direction: column;
  margin: 32px 0;
}

.article-item {
  display: flex;
  flex-direction: row;
  margin: 16px 0;
}

.article-item {
  margin: 16px 0;
}

.article-desc {
  margin: 0 24px;
}

.show-row {
  display: flex;
  flex-direction: row;
}

.show-row * {
  margin: 10px 10px;
}

.add-comment {
  border-color: #dfdfdf;
  border-radius: 4px;
  width: 100%;
}
.user-avatar {
  width: 44px;
  height: 44px;
}

.color {
  background-color: chartreuse;
}
.color1 {
  background-color: darkcyan;
}
